.footer{
    background: linear-gradient(#739EFA,#3263CC,#203970,#01050F);
    color:white;

}

.footer-content{
    padding:40px 40px;
}

.flex{
    display: flex;
    text-align: left;
    justify-content: space-between;
    color:white;
}    

.header {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Outfit';
    margin-bottom: 20px;
    margin-top: 30px;
    
}
.header,ul{
    padding-left:20px ;
}
.description{
    font-family: 'Roboto';
    font-size: 20px;
    text-align: left;
}
.quote{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

p{
    font-family:'Roboto' ;
    font-size: 25px;
}

.col li{
    font-family:'Roboto' ;
    font-size: 25px;
    list-style: none;
}
.col li:hover{
    font-family:'Roboto' ;
    font-size: 25px;
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
}

.copyright{
    font-family:'Roboto' ;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}
.col a{
    font-size: 30px;
    color: white;
}
@media screen and (max-width: 830px) {
    .flex{
      flex-direction: column;
    }

  }


